<h2>Registered to ROCK!</h2>

<table class="table table-striped">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Dietary option</th>
        <th>Sauna</th>
    </tr>
    <tr ng-repeat="person in persons">
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.diet }}</td>
        <td>{{ person.sauna }}</td>
    </tr>    
</table>
<script>document.write(localStorage.getItem("persons"));</script>

